
.footer-main{
    background: linear-gradient(180deg,#6749f9 .01%,#5a00dd 100.01%);
}

.footer{
    display: flex;
    padding: 3% 5%;
    margin-top: 4%;
}

.first-div{
    color: white;
    text-align: start;
}

.first-div img{
    width: 35px;
}

.first-div-item{
    display: flex;
}

.first-div-item a{
    text-decoration: none;
    color: white;
}
.first-div-item a:hover{
    text-decoration: underline;
    color: white;
    
}
.first-div-item i{
    margin-top: 4px;
}

/* ---------------- */

.second-div{
    padding: 0 2%;
}

.second-div ul{
    padding: 2% 0 0 0;
}

.second-div li{
    list-style: none;
    text-align: start;
    color: white;
    font-size: 20px;
}

.social-links{
    color: white;
    font-size: 25px;
    text-align: start;
}

.social-links a{
    color: white;
}

.footer-last{
    display: flex;
    justify-content: space-between;
}


/* -------------------------------------------------- */


@media only screen and (max-width: 480px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer-last{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 35px;
    }
}