
.master-div{
   width: 100%;
    /* position: fixed; */
    /* padding: 5% 5% 8%;  */
}

.profile-main{
    display: flex;
    width: 100%;
    position: fixed;
    padding: 5% 5% 8%;
}

/* ---------- User Section ------------ */

.user-section{
    width: 30%;
    height: auto;
    background-color: #DCE3E8;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.profile-img{
    width: 50%;
    margin: 15px 15px 8px 15px;
    border: 5px solid pink;
    border-radius: 50%;
}

.user-section ul{
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.user-section ul div{
    display: flex;
    background-color: white;
    margin: 15px;
    padding: 10px 0;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.user-section ul li{
    margin: 5px 0;
    list-style: none;
    text-align: start;
}

.user-section span{
    padding: 2px;
    margin: 0 5px;
}


/* ---------- Information Section ------------ */


.information-section{
    width: 70%;
    background-color:#DCE3E8;
    text-align: start;
    padding: 15px;
    border-left: 5px solid whitesmoke ;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.information-section ul{
    background: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 5px;
    margin: 0 0 10px;
}

.information-section h5{
    font-weight: bold;
    color: darkgreen;
}

.ra-div{
    height: 50vh;
    overflow-y: scroll;
}

.ra-div::-webkit-scrollbar{
    width: 10px;
}
.ra-div::-webkit-scrollbar-track{
    border-radius: 10px;
    background: ghostwhite;
}
.ra-div::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: linear-gradient(-45deg, rgb(233, 233, 110) 50%,rgb(68, 245, 212) 50%);
}